# {{ ansible_managed }}
#Listen on
Port 22

#Only use protocol 2
Protocol 2

#HostKeys for protocol version 2
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_dsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

#Privilege Separation is turned on for security
UsePrivilegeSeparation yes

#Logging
SyslogFacility AUTH
LogLevel INFO

#Authentication
PermitEmptyPasswords no
PermitRootLogin no

StrictModes yes
PrintLastLog yes
RSAAuthentication yes
PubkeyAuthentication yes

X11Forwarding no
PrintMotd no
LoginGraceTime 120
#UseLogin no

#Disable rhosts
IgnoreRhosts yes
RhostsRSAAuthentication no
HostbasedAuthentication no

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

Subsystem sftp /usr/lib/openssh/sftp-server

#Don't allow user envirnoment
PermitUserEnvironment no

# Inactive session since 30 mintues will be disconnected
ClientAliveCountMax 0
ClientAliveInterval 1800

#PAM Settings
UsePAM yes
ChallengeResponseAuthentication no
UseDNS no

KexAlgorithms curve25519-sha256@libssh.org,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group-exchange-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes256-ctr
Macs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha2-512,hmac-sha2-256
